<section>
  <img src="../../assets/images/main-image.jpg" />
</section>

<section>
  <div>
    <div>O nas</div>
    <div>O firmie Eltom TM Meble w Warszawie</div>
  </div>
  <div style="column-count: 2">
    Firma Eltom Tm to kreatywna firma, działająca na mazowieckim rynku
    wykończenia wnętrz od 2002 roku. Siedziba oraz stolarnia mieści się w
    Warszawie. Meble zaprojektowane i wykonane przez nas charakteryzują się
    funkcjonalnością przy zachowaniu najnowszych trendów w architekturze wnętrz
    oraz atrakcyjnej i przystępnej cenie uzależnionej od zastosowanych
    materiałów. Zapewniamy, iż wszystkie wykonane przez nas meble kuchenne,
    szafy, drzwi oraz inne zabudowy na wymiar będą nie tylko funkcjonalne, ale
    również estetycznie i precyzyjnie wykonane. Na wykonane przez nas meble
    udzielamy pełnej gwarancji na okres 2 lat.
  </div>
</section>

<section>
  <div>
    <div>Wybrane realizacje</div>
    <div>firmy Eltom TM Meble w Warszawie</div>
  </div>
  <div>
    <!-- Autoslider -->
  </div>
</section>

<section>
  <div>
    <div>Etapy współpracy</div>
    <div>z firmą Eltom TM Meble w Warszawie</div>
  </div>
  <div style="column-count: 2">
    Naszą pracę rozpoczynamy od wizyty w państwa domu, przeanalizowaniu projektu
    lub opisu przesłanego na naszą skrzynkę e-mailową. Bezpłatnie przygotowujemy
    wstępny kosztorys na podstawie projektu, wizualizacji, opisu lub pomiaru.
    Końcowa wycena mebli, drzwi jest sumą poszczególnych elementów wchodzących w
    skład zamówienia, którą w początkowym etapie możemy wspólnie projektować.
    Cały proces poprzedzający montaż mebli, czyli dojazd, pomiar oraz wycena
    jest bezpłatny. W cenę mebli zawarty jest montaż, transport w Warszawie oraz
    jej okolicach oraz podatek VAT. Za wykonaną usługę standardowo wystawiamy na
    życzenie klienta fakturę VAT. Po akceptacji kosztorysu przystępujemy do
    realizacji państwa zlecenia.
  </div>
</section>

<section>
  <div>
    <div>Nasi partnerzy</div>
    <div>Partnerzy firmy Eltom TM Meble w Warszawie</div>
  </div>
  <div style="column-count: 2">
    Naszą pracę rozpoczynamy od wizyty w państwa domu, przeanalizowaniu projektu
    lub opisu przesłanego na naszą skrzynkę e-mailową. Bezpłatnie przygotowujemy
    wstępny kosztorys na podstawie projektu, wizualizacji, opisu lub pomiaru.
    Końcowa wycena mebli, drzwi jest sumą poszczególnych elementów wchodzących w
    skład zamówienia, którą w początkowym etapie możemy wspólnie projektować.
    Cały proces poprzedzający montaż mebli, czyli dojazd, pomiar oraz wycena
    jest bezpłatny. W cenę mebli zawarty jest montaż, transport w Warszawie oraz
    jej okolicach oraz podatek VAT. Za wykonaną usługę standardowo wystawiamy na
    życzenie klienta fakturę VAT. Po akceptacji kosztorysu przystępujemy do
    realizacji państwa zlecenia.
  </div>
</section>
