<header>
  <span class="header-left-side">
    <img
      class="logo"
      src="../../assets/images/logo-eltom-tm.png"
      alt="Meble kuchenne, Szafy, Drzwi - Warszawa"
    />
    <span class="logo-text">
      Meble kuchenne, Szafy, Drzwi
      <br />
      - Warszawa
    </span>
  </span>

  <nav>
    <span class="button-element">
      <button mat-button class="navigation-link" routerLink="/main-page">O nas</button>
    </span>
    <!-- <span class="button-element">
      Panel klienta
    </span> -->
    <span class="button-element">
      <button mat-button class="navigation-link" routerLink="/realizations">Realizacje</button>
    </span>
    <span class="button-element">
      <button mat-button class="navigation-link" routerLink="/materials">Materiały</button>
    </span>
    <span class="button-element">
      <button mat-button class="navigation-link" routerLink="/contact">Kontakt</button>
    </span>
    <!-- flaga z dropdownem do zmiany języków pl en -->
  </nav>
</header>
